.my-drop-zone { border: dotted 3px lightgray; }

.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */

.another-file-over-class { border: dotted 3px green; }


html, body { height: 100%; }

.dddd {
  width: 300px;
}

.smmmm {
  font-size: 25px;
  display: inline;
  color: red;
}


.gmmmm {
  font-size: 25px;
  display: inline;
  color: green;
}


.cmmmm {
  font-size: 25px;
  display: inline;
  color: blue;
}


.classcard {
  min-height: 18rem;
}


nb-card {
  border-radius: 15px;
  padding: 15px;
}

nb-card-header {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  cursor: pointer;
}

input[type="datetime-local"] {
  padding: 10px !important;
  border-radius: 10px !important;
}
